*,
::after,
::before {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--font-1);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

:root {
  --color-primary-1: #fdbf11;
  --color-primary-2: #ffd04c;
  --color-primary-3: #fff2e0;

  --color-secondary-1: #6c56c2;
  --color-secondary-2: #806cce;
  --color-secondary-3: #9989dc;

  --color-tertiary-1: #ff7191;
  --color-tertiary-2: #ff9ab1;
  --color-tertiary-3: #fde5ed;

  --color-text: #2f2d2eff;
  --color-white: #ffffff;
  --color-black: #000000;

  --font-1: "Comfortaa", cursive;
  --font-2: "Manrope", sans-serif;
}
